@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body,
html,
#root,
.App {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.App {
  font-family: "Tinos", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hidden {
  visibility: hidden;
}

.header {
  font-size: 80px;
  margin: 8px;
  font-weight: normal;
}

.sub-header {
  font-size: 52px;
  margin: 8px;
  font-weight: normal;
}

.sub-sub-header {
  font-size: 34px;
  margin-top: 18px;
  margin-bottom: 18px;
  font-weight: normal;
}

.input-icon-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.name-input {
  background-color: white;
  border-radius: 12px;
  border: 2px solid #ccc; /* Adjust as needed */
  width: 400px;
  height: 30px;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 40px; /* Make room for the arrow */
}

.input-arrow {
  position: absolute;
  right: 10px;
  color: black; /* Adjust arrow color as needed */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
